.root { -fx-base: #ffffff; -fx-background: white; -fx-text-fill: black; }
.text-area, .text-area .content { -fx-background-color: white; -fx-text-fill: black; }
.menu-bar { -fx-background-color: #eeeeee; }
